SWLNVDP/App_WebReferences/SWADNETVDP/SWADNETVDP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52749/SWADNETVDP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Insertar_VCliente_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eVCliente" nillable="true" type="q1:EVCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VCliente_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VCliente_O_Todo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VCliente_O_TodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VCliente_O_TodoResult" nillable="true" type="q2:ArrayOfEVCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VCliente_O_CodigoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VCliente_O_CodigoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VCliente_O_CodigoClienteResult" nillable="true" type="q3:EVCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VCliente_O_ApellidoPaternoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApellidoPaternoCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VCliente_O_ApellidoPaternoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VCliente_O_ApellidoPaternoClienteResult" nillable="true" type="q4:ArrayOfEVCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_VCliente_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eVCliente" nillable="true" type="q5:EVCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_VCliente_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VProducto_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eVProducto" nillable="true" type="q6:EVProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VProducto_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VProducto_O_Todo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VProducto_O_TodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VProducto_O_TodoResult" nillable="true" type="q7:ArrayOfEVProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VProducto_O_CodigoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VProducto_O_CodigoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VProducto_O_CodigoProductoResult" nillable="true" type="q8:EVProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VProducto_O_NombreProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VProducto_O_NombreProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VProducto_O_NombreProductoResult" nillable="true" type="q9:ArrayOfEVProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_VProducto_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eVProducto" nillable="true" type="q10:EVProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_VProducto_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_VProducto_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_VProducto_EResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VEmpleado_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eVEmpleado" nillable="true" type="q11:EVEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VEmpleado_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VEmpleado_O_Todo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VEmpleado_O_TodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VEmpleado_O_TodoResult" nillable="true" type="q12:ArrayOfEVEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VEmpleado_O_CodigoEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoEmpleado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VEmpleado_O_CodigoEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VEmpleado_O_CodigoEmpleadoResult" nillable="true" type="q13:EVEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VEmpleado_O_ApellidoPaternoEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApellidoPaternoEmpleado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VEmpleado_O_ApellidoPaternoEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VEmpleado_O_ApellidoPaternoEmpleadoResult" nillable="true" type="q14:ArrayOfEVEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_VEmpleado_A">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eVEmpleado" nillable="true" type="q15:EVEmpleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar_VEmpleado_AResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_VEmpleado_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoEmpleado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_VEmpleado_EResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VVenta_I">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="eVVenta" nillable="true" type="q16:EVVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar_VVenta_IResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VVenta_O_Todo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VVenta_O_TodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VVenta_O_TodoResult" nillable="true" type="q17:ArrayOfEVVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VVenta_O_CodigoVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoVenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VVenta_O_CodigoVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VVenta_O_CodigoVentaResult" nillable="true" type="q18:EVVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VVenta_O_CodigoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VVenta_O_CodigoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VVenta_O_CodigoClienteResult" nillable="true" type="q19:ArrayOfEVVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VVenta_O_CodigoEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoEmpleado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VVenta_O_CodigoEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VVenta_O_CodigoEmpleadoResult" nillable="true" type="q20:ArrayOfEVVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VVenta_O_CodigoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_VVenta_O_CodigoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Obtener_VVenta_O_CodigoProductoResult" nillable="true" type="q21:ArrayOfEVVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_VVenta_E">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoVenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar_VVenta_EResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>