WAVDP/App_WebReferences/SWLNVDP/SWLNVDP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEVProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EVProducto" nillable="true" type="tns:EVProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEVProducto" nillable="true" type="tns:ArrayOfEVProducto" />
  <xs:complexType name="EVProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaModificacionProducto" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistroProducto" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioUnitarioProducto" type="xs:decimal" />
      <xs:element minOccurs="0" name="StockProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EVProducto" nillable="true" type="tns:EVProducto" />
  <xs:complexType name="ArrayOfEVCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EVCliente" nillable="true" type="tns:EVCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEVCliente" nillable="true" type="tns:ArrayOfEVCliente" />
  <xs:complexType name="EVCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaternoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaternoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EVCliente" nillable="true" type="tns:EVCliente" />
  <xs:complexType name="ArrayOfEVEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EVEmpleado" nillable="true" type="tns:EVEmpleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEVEmpleado" nillable="true" type="tns:ArrayOfEVEmpleado" />
  <xs:complexType name="EVEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaternoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaternoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NombreEmpleado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EVEmpleado" nillable="true" type="tns:EVEmpleado" />
  <xs:complexType name="ArrayOfEVVenta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EVVenta" nillable="true" type="tns:EVVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEVVenta" nillable="true" type="tns:ArrayOfEVVenta" />
  <xs:complexType name="EVVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadProductoVenta" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoVenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="FechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MetodoPagoVenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioTotalVenta" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoEntregaVenta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EVVenta" nillable="true" type="tns:EVVenta" />
  <xs:complexType name="ArrayOfEVVentaCompleja">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EVVentaCompleja" nillable="true" type="tns:EVVentaCompleja" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEVVentaCompleja" nillable="true" type="tns:ArrayOfEVVentaCompleja" />
  <xs:complexType name="EVVentaCompleja">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoPaternoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaternoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CantidadProductoVenta" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoVenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MetodoPagoVenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompletoCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompletoEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioTotalVenta" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoEntregaVenta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EVVentaCompleja" nillable="true" type="tns:EVVentaCompleja" />
</xs:schema>